$green: #72A53B;
$blue: #2B5598;

.header-wrap {
  display: flex;
  align-items: center;
  gap: 40px;
  @include media(640) {
    justify-content: space-between;
    .main-phone {
      display: none;
    }
    .custom-btn {
      display: none;
    }
  }
}

.toggle-btn{
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  z-index: 2;
  transition: all .2s;
  @media screen and (min-width: 1101px)  {
    display: none;
  }
  span{
    width: 24px;
    height: 2px;
    background: $blue;
    border-radius: 1px;
    display: block;
    position: absolute;
    left: 0;
    transition: all .2s;
    &:nth-of-type(1){
      top: 2px;
    }
    &:nth-of-type(2){
      top: 11px;
    }
    &:nth-of-type(3){
      top: 20px;
    }
  }
  &.active{
    z-index: 20;
    transform: translate(-15px, -15px);
    span{
      &:nth-of-type(1){
        transform: translateY(9px) rotate(45deg);
      }
      &:nth-of-type(2){
        opacity: 0;
      }
      &:nth-of-type(3){
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }
}

.footer {
  background: #F4F7FC;
  &-top {
    padding: 40px 0;
    border-bottom: 1px solid rgba(43, 85, 152, 0.15);
    &-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include media(950) {
        gap: 20px;
        flex-direction: column;
      }
    }
  }
  &-bottom {
    background: rgba(43, 85, 152, 0.05);
    padding: 10px 0;
    p {
      margin: 0;
    }
    &-links {
      display: flex;
      align-items: center;
      a {
        position: relative;
        &:hover {
          color: $green;
        }
        &:not(:last-of-type) {
          margin-right: 24px;
          &:after {
            width: 4px;
            height: 4px;
            background: $blue;
            border-radius: 50%;
            display: block;
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -14px;
          }
        }
      }
    }
    &-wrap {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      @include media(550) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &-form {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 100%;
    @include media(950) {
      text-align: center;
      flex-direction: column;
      gap: 20px;
    }
    &-text {
      flex: 1;
      margin-left: 30px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 24px;
      line-height: (34/24);

      @include media(1100) {
        font-size: 16px;
      }
      @include media(950) {
        text-align: center;
        margin: 0;
      }
    }
    &-input {
      position: relative;
      width: 400px;
      max-width: 100%;
      .custom-btn {
        border-radius: 40px;
        background: $green;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 8px;
        right: 8px;
        border-radius: 20px;
      }
      input {
        border-radius: 40px;
        background: #FFF;
        height: 52px;
        width: 100%;
        font-size: 16px;
        border: 2px solid rgba(32, 96, 200, 0.10);
        background: #FFF;
        padding: 10px 111px 10px 20px;
        font-weight: 400;

        &::placeholder {
          color: #B0B0B0;
        }
      }
    }
  }
  &-nav {
    padding: 40px 0;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    gap: 14px;

    a, >span {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    a {
      &:hover {
        color: $green;
      }
    }
  }
}

.nav-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  text-align: left;

  @include media(900) {
    display: flex;
    flex-wrap: wrap;
  }

  >div {
    display: flex;
    flex-direction: column;
    &:last-of-type {
      display: grid;
      gap: 30px;
      grid-auto-rows: min-content;
    }
    @include media(900) {
      width: calc(50% - 12px);
      &:last-of-type {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
      }
    }
    @include media(550) {
      width: 100%;
      &:last-of-type {
        width: 100%;
        grid-template-columns: auto;
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
    a {
      position: relative;
      padding-left: 34px;
      text-align: left;
      line-height: 1.5;

      &:hover {
        color: $green;
      }

      &:before {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        content: '';
        background: url("../img/svg/angle.svg");
        left: 0;
        transform: translateY(-50%);
        transition: all .2s;
      }
    }
  }

  p {
    margin: 0 0 30px;
    color: rgba(43, 85, 152, 0.20);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 40px;
  @include media(1100) {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    z-index: 3;
    gap: 0;

    a {
      font-size: 22px;
    }
  }

  .submenu-wrap {
    @media screen and (min-width: 1101px)  {
      display: block!important;
    }

    @include media(1100) {
      display: none;
    }
  }


  .submenu {
    position: absolute;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 10px 40px 0px rgba(43, 85, 152, 0.30);
    padding: 30px;
    display: inline-grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    left: 0;
    top: 100%;
    list-style-type: none;
    opacity: 0;
    transition: all .2s;
    display: inline-grid;
    pointer-events: none;

    @include media(1100) {
      pointer-events: all;
      transition: none;
      width: 100%;
      position: static;
      opacity: 1;
      padding: 0;
      border-radius: 0;
      padding: 0 20px 20px;
      box-shadow: none;
      .submenu-wrap {
        display: none;
      }

    }
    @include media(500) {
      grid-template-columns: auto;
    }

    &-link {
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none!important;
      min-width: 340px;
      @include media(1100) {
        min-width: auto;
      }
      &-img {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-text {
        flex: 1;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: (20/12);
        h4 {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          margin: 0;
          line-height: 1;
        }
        p {
          margin: 0;
        }
        @include media(1100) {
          h4 {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
          }
          p {
            display: none;
          }
        }
      }
      &:hover {
        .submenu-link-text {
          h4 {
            color: $green;
          }
        }
      }
    }
  }

  .arrow-link {
    position: relative;
    &:hover {
      .submenu {
        pointer-events: all;
        opacity: 1;
      }
    }
    >a {
      display: flex;
      padding: 10px 22px 10px 0;

      &:after {
        position: relative;
        width: 16px;
        height: 16px;
        content: '';
        display: block;
        background: url("../img/svg/expand_more.svg") center center no-repeat;
        background-size: cover;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        @include media(1100) {
          width: 20px;
          height: 20px;
          right: -24px;
          pointer-events: none;
        }
      }
      @include media(1100) {
        padding: 20px 0 20px 20px;
        position: relative;
        display: inline-flex;
      }
    }
  }

  &-wrap {
    z-index: 10;
    @include media(1100) {
      opacity: 0;
      transition: all .2s;
      //position: fixed;
      top: 20px;
      position: absolute;
      //bottom: 20px;
      left: 20px;
      right: 20px;
      background: white;
      justify-content: center;
      z-index: 10;
      border-radius: 20px;
      background: #FFF;
      box-shadow: 0px 10px 40px 0px rgba(43, 85, 152, 0.30);
      pointer-events: none;

      >ul>li {
        width: 100%;
        &:not(:last-of-type) {
          @include media(1100) {
            border-bottom: 1px solid rgba(43, 85, 152, 0.10)
          }
        }
        >a {
          width: 100%;
          @include media(1100) {
            width: auto;
            display: inline-flex;
            align-items: center;
            opacity: 1;
            padding: 20px;
            border-radius: 0;
            box-shadow: none;
            color: $blue;
            text-decoration: none!important;
          }
        }
      }
    }
    &.is-opened{
      pointer-events: all;
      opacity: 1;
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.main-phone {
  display: flex;
  align-items: center;
  margin:  0 0 0 auto;
  gap: 10px;

  &:hover {
    color: #98BD70;

    svg path {
      fill: #98BD70;
    }
  }

  &:active {
    color: #5C892B;
    svg path {
      fill: #5C892B;
    }
  }

  &--big {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #72A53B;

    @include media(768) {
      font-size: 16px;
    }
  }
  &--white {
    color: white;
    svg path {
      fill: white;
    }
  }
}

.custom-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  line-height: 1;
  color: white;
  border-radius: 100px;
  background: #72A53B;
  padding: 20px 30px;
  transition: all .3s;

  @include media(768) {
    font-size: 16px;
    padding: 10px 20px;
  }

  &:hover {
    background: #72A53B;
    box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.40) inset;
  }

  &:active {
    background: #5C892B;
  }

  &--small {
    font-size: 16px;
    padding: 10px 20px;
  }
  &--blue {
    background: rgba(43, 85, 152, 0.10);
    color: $blue;

    &:hover {
      background: rgba(43, 85, 152, 0.50);
    }
  }
  &--white {
    color: $green;
    background: white;
    &:hover {
      color: white;
      background: #72A53B;
      svg {
        path {
          fill: white;
        }
      }
    }
    svg {
      fill: $green;
      path {
        transition: all .3s;
      }
    }
  }
}

.fs {
  padding-top: 40px;
  &-form {
    display: flex;
    align-items: center;
    border-radius: 100px;
    gap: 20px;
    background: #2B5598;
    box-shadow: 0px 10px 40px 0px rgba(43, 85, 152, 0.30);
    padding: 10px;

    @include media(1024) {
      margin-top: 120px;
    }

    @include media(768) {
      margin-top: 40px;
      flex-direction: column;
      width: 100%;
      padding: 0;
      background: none;
      box-shadow: none;
    }

    &-text {
      flex: 1;
      margin-left: 30px;
      display: flex;
      align-items: center;
      gap: 10px;
      color: #FFF;
      font-size: 24px;
      font-weight: 700;
      line-height: (34/24);

      @include media(768) {
        color: $blue;
        font-size: 16px;

        svg {
          path {
            fill: $blue;
          }
        }
      }
    }
    &-input {
      position: relative;
      width: 400px;
      @include media(1024) {
        width: 205px;
      }
      @include media(768) {
        width: 100%;
      }
      button {
        border-radius: 40px;
        background: #2B5598;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        position: absolute;
        top: 10px;
        right: 10px;
        &:hover {
          box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.40) inset;
        }
      }
      input {
        border-radius: 40px;
        background: #FFF;
        height: 68px;
        width: 100%;
        font-size: 16px;
        padding: 10px 68px 10px 20px;
        font-weight: 400;
        color: $blue;
        @include media(768) {
          border: 1px solid $blue;
        }
        &::placeholder {
          color: #B0B0B0;
        }
      }
    }
  }
  &-title {
    padding-top: 80px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: (32/20);
    text-align: left;

    @include media(1024) {
      text-align: center;
    }

    @include media(768) {
      padding-top: 20px;
      font-size: 16px;
    }

    h1 {
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: (72/64);
      margin: 0 0 20px;

      @include media(768) {
        font-size: 32px;
      }
    }
    p {
      margin: 0 0 40px;
    }
    &-flex {
      display: flex;
      align-items: center;
      gap: 20px;

      @include media(1024) {
        justify-content: center;
      }

      @include media(768) {
        flex-direction: column;
      }
    }
  }
  &-wrap {
    display: grid;
    grid-template-columns: 620px auto;
    grid-gap: 24px;

    @include media(1024) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }
  &-imgs {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
  }
  &-img--text {
    position: absolute;
    top: 39px;
    left: -104px;

    @include media(1200) {
      display: none;
    }
  }

  &-img {
    display: flex;
    align-items: flex-end;
    @include media(1024) {
      display: none;
    }
  }

  &-img--logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
    padding: 20px;
    position: absolute;
    bottom: 32px;
    left: -10px;

    @include media(1024) {
      position: static;
      bottom: auto;
      left: auto;
    }
  }
}

.info {
  padding-top: 160px;

  @include media(768) {
    padding-top: 80px;

    .content-grid {
      gap: 40px 20px;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;

    @include media(600) {
      font-size: 14px;
    }

    p {
      margin: 0;
      text-align: center;
    }
    &-top {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;

      span {
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 1;

        @include media(600) {
          font-size: 24px;
        }
      }
    }
    &-icon {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include media(600) {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.reasons {
  margin: 160px 0;
  .content-grid {
    gap: 40px  24px;
  }
  @include media(768) {
    margin: 80px 0;
    .content-grid {
      grid-template-columns: 100%;
    }
  }
  .section-title {
    margin-bottom: 80px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    max-width: 242px;
    margin: 0 auto;
    @include media(768) {
      max-width: 100%;
    }

    h3 {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: (32/24);
      margin: 0;

      @include media(768) {
        font-size: 20px;
      }
    }

    p {
      margin: 0;
    }
  }
}

.services {
  padding: 100px 0;
  background: #F4F7FC;

  @include media(768) {
    padding: 80px 0;
  }

  &-items {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include media(1200) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(768) {
      grid-template-columns: auto;
    }
  }

  &-grid {
    display: grid;
    gap: 40px;
    grid-template-columns: 486px auto;

    @include media(1200) {
      display: flex;
      flex-direction: column;

      .section-title--left {
        align-items: center;
        text-align: center;
      }
    }
  }
}

.service-item  {
  display: flex;
  align-items: center;
  gap: 20px;
  &-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
    h3 {
      margin: 0;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      color: $green;

      @include media(768) {
        font-size: 20px;
      }
    }
    p {
      margin: 0;
    }
    a {
      display: inline-flex;
      align-items: center;
      gap: 6px;
    }
  };
}

.booking {
  margin: 160px 0;

  @include media(1200) {
    margin: 80px 0;
  }

  &-flex {
    padding: 60px;
    border-radius: 40px;
    background: $green;

    .booking-title {
      align-items: center;
      font-size: 20px;
      .custom-btn {
        margin-top: 20px;
      }
    }
  }

  &-grid {
    padding: 60px;
    border-radius: 40px;
    background: $green;
    display: grid;
    gap: 20px;
    grid-template-columns: auto 331px;
    @include media(992) {
      grid-template-columns: auto;
    }

    @include media(768) {
      padding: 40px;
      border-radius: 30px;
    }
  }
  &-title {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
    @include media(768) {
      align-items: center;
      text-align: center;
    }
    h2 {
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: (56/48);
      margin: 0;
      @include media(768) {
        font-size: 32px;
      }
    }
    p {
      margin: 0;
    }
  }
  &-img {
    display: flex;
    align-items: flex-end;
    margin-bottom: -60px;

    @include media(992) {
      display: none;
    }
  }
}

.process {
  margin: 160px 0;

  @include media(1200) {
    margin: 80px 0;
  }

  @include media(600) {
    .content-grid {
      grid-template-columns: auto;
    }
  }

  &-item {
    padding: 40px;
    border-radius: 40px;
    background: #F4F7FC;
    display: flex;
    flex-direction: column;
    gap: 24px;
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      span {
        color: rgba(43, 85, 152, 0.10);
        text-align: right;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 1;
      }
    }

    h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: (32/24);
      text-align: left;
      width: 100%;
      margin: 0;
      max-width: 178px;

      @include media(600) {
        font-size: 20px;
      }
    }

    &-icon {
      width: 48px;
      height: 48px;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
}

.map {
  margin: 160px 0;
  @include media(1200) {
    margin: 80px 0;
  }
  &-grid {
    gap: 24px;
    display: grid;
    grid-template-columns: auto 558px;

    @include media(1100) {
      display: flex;
      flex-direction: column;
      align-items: center;

      .section-title--left {
        align-items: center;
        text-align: center;
      }
    }
  }
  &-img {
    display: flex;
    align-items: center;
  }
}

.franchise {
  margin: 160px 0;
  @include media(1200) {
    margin: 80px 0;
  }
  &-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    border-radius: 40px;
    background: linear-gradient(276deg, #FBBC04 0%, #FFDB71 100%);
    padding: 60px;
    @include media(992) {
      flex-direction: column;
      align-items: flex-start;
    }
    @include media(600) {
      padding: 40px;
      border-radius: 30px;
    }
  }
  &-title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    color: #624F18;
    max-width: 528px;
    text-align: left;

    &-tag {
      background: $green;
      color: white;
      text-transform: uppercase;
      border-radius: 10px;
      padding: 6px 14px;
      line-height: 1;
    }

    h2 {
      margin: 0;
      font-size: 40px;
      font-weight: 700;
      line-height: 1;
      @include media(600) {
        font-size: 32px;
      }
    }
    p {
      font-size: 20px;
      margin: 0;
      font-weight: 500;
      line-height: (32/20);
    }
  }
}

.reviews {
  margin: 160px 0;
  overflow: hidden;
  @include media(1200) {
    margin: 80px 0;
  }
  &:hover {
    .slick-arrow {
      opacity: 1;
    }
  }
  .slick-list {
    overflow: visible;
  }

  .slick-arrow {
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.40);
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc((100% - 60px) / 2);
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    opacity: 0;

    &.slick-disabled {
      opacity: 0!important;
    }

    &.slick-next {
      right: calc((100% - 100vw) / 2 + 40px);
    }

    &.slick-prev {
      left: calc((100% - 100vw) / 2 + 40px);
      transform: translateY(-50%) rotate(180deg);
      svg {
        margin-right: -4px;
      }
    }
  }

  .reviews-slider {
    margin: 0 -12.5px;
  }

  .slick-dots {
    margin: 40px 0 0;
    padding: 0;
    font-size: 0;
    display: flex;
    justify-content: center;

    button {
      width: 20px;
      height: 20px;
      padding: 0;
      margin: 0;
      position: relative;
      background: transparent;
      &:after {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $blue;
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        display: block;
        transform: translate(-50%, -50%);
        transition: all .2s;
      }
      &:before {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $green;
        opacity: 0;
        position: absolute;
        top: 50%;
        content: '';
        display: block;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .2s;
      }
    }
    .slick-active {
      button {
        &:after {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: $green;
        }
        &:before {
          opacity: .2;
        }
      }
    }
  }
}

.reviews-slide {
  border-radius: 40px;
  border: 1px solid rgba(43, 85, 152, 0.20);
  padding: 40px;
  transition: all .2s;
  cursor: pointer;
  margin: 0 12px;

  &:hover {
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.10);
  }

  &-top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 1;
      margin: 0;
      color: $green;
    }
  }
  &-text {
    text-align: left;
    p {
      margin-bottom: 0;
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
}

.location {
  display: flex;
  align-items: center;
  gap: 6px;
  color: $green;
  font-size: 14px;
}

.tabs {
  &--left {
    .tabs-nav {
      justify-content: flex-start;
    }
  }
  &-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0 0 40px;
    padding: 0;
    gap: 10px;
    li {
      border-radius: 40px;
      background: transparent;
      padding: 18px 20px;
      line-height: 1;
      cursor: pointer;
      &:hover {
        color: $green;
      }
      &.active {
        background: rgba(114, 165, 59, 0.10);
        color: $green;
        font-weight: 700;
      }
    }
  }
}

.tab {
  &-grid {
    display: grid;
    grid-template-columns: auto 486px;
    gap: 40px;
    @include media(1000) {
      grid-template-columns: auto;
    }
  }
  &-img {
    width: 486px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 20px;
    @include media(1000) {
      display: none;
    }
    img {
      min-width: 100%;
      max-width: 100%;
      min-height: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
  &-list {
    grid-auto-rows: min-content;
    list-style-type: none;
    margin: 0;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;

    @include media(1200) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media(768) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(500) {
      grid-template-columns: auto;
    }

    li {
      position: relative;
      padding-left: 34px;
      text-align: left;
      line-height: 1.5;
      &:before {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        content: '';
        background: url("../img/svg/angle.svg");
        left: 0;
        transform: translateY(-50%);
        transition: all .2s;
      }
    }
  }
  &.tab-with-img {
    .tab-list {
      grid-template-columns: repeat(2, 1fr);

      @include media(1000) {
        grid-template-columns: repeat(3, 1fr);
      }

      @include media(500) {
        grid-template-columns: auto;
      }
    }
  }
}

.items {
  margin: 160px 0;
  @include media(1200) {
    margin: 80px 0;
  }
  &-wrap {
    border-radius: 40px;
    background: #F4F7FC;
    padding: 60px;
    @include media(768) {
      padding: 40px  20px;
      border-radius: 30px;
    }
  }
}

.founder {
  margin: 160px 0;

  @include media(1200) {
    margin: 80px 0;
  }

  .section-title {
    margin: 0 0 40px;
    text-align: left;
    align-items: flex-start;
    @include media(992) {
      align-items: center;
      text-align: center;
      margin: 0 auto 40px;
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: auto 384px;
    gap: 20px;
    @include media(992) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  &-name {
    position: absolute;
    bottom: 40px;
    border-radius: 20px;
    background: $green;
    padding: 10px 20px;
    width: 226px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: white;
    line-height: (32/20);
    left: -100px;
    @include media(650) {
      left: 50%;
      transform: translateX(-50%);
      bottom: -10px;
    }
  }
  &-img {
    position: relative;
  }
  &-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 690px;
    padding-left: 102px;
    position: relative;
    @include media(992) {
      max-width: 600px;
      text-align: center;
      padding: 0;
    }
    &:before {
      width: 78px;
      height: 78px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      content: '';
      background: url("../img/svg/quote.svg");
      left: 0;
      transition: all .2s;
      @include media(992) {
        display: none;
      }
    }
    p {
      margin: 0;
    }
  }
}

.bg-item {
  border-radius: 40px;
  padding: 40px;
  background: $green;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: white;
  &-icon {
    border-radius: 20px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 88px;
  }
  h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: (32/24);
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.vacancies {
  background: #F4F7FC;
  margin: 160px 0;
  padding: 100px 0;

  @include media(1200) {
    margin: 80px 0;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 24px;
    @include media(992) {
      grid-template-columns: auto;
    }
  }

  &-text {
    margin-top: 80px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: (32/20);
    text-align: center;
  }
}

.vacancy {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 64px auto 64px;
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0px 20px 26px -24px rgba(43, 85, 152, 0.60);
  padding: 40px;
  position: relative;

  @include media(650) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &-number {
    display: flex;
    width: 64px;
    height: 64px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: $green;
    color: white;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;

    @include media(650) {
      width: 48px;
      height: 48px;
      font-size: 24px;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  &-icon {
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
  }

  &-text {
    p {
      margin: 0 0 20px;
    }
    h3 {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: (32/24);
      margin: 0 0 20px;
    }
  }
}

