$green: #72A53B;
$blue: #2B5598;

body {
  /* Base Elements */

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    display: block;
    height: 730px;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(43, 85, 152, 0.15) 0%, rgba(244, 247, 252, 0.00) 100%);
    background-repeat: no-repeat;
    z-index: -1;
  }
  padding-top: 40px;

  &.is-overflowed {
    overflow: hidden;
  }

  *, *:before, *:after {
    box-sizing: border-box;
  }
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #2B5598;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: (28/16);

  .content-wrap {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .more {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    &:hover {
      color: $green;
      svg path {
        fill: $green;
      }
    }
  }

  .page-title {
    margin: 80px auto;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: (32/20);
    max-width: 830px;
    @include media(650) {
      font-size: 16px;
      margin: 40px 0;
    }

    &--stars {
      h1 {
        padding: 0 52px;
        position: relative;
        display: inline-block;

        @include media(768) {
          font-size: 24px;
        }

        &:after {
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          content: '';
          background: url('../img/svg/star.svg');
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        &:before {
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          content: '';
          background: url('../img/svg/star.svg');
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    &-flex {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
      gap: 20px 40px;
      @include media(500) {
        flex-direction: column;
        margin-top: 20px;
      }
    }

    h1 {
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: (56/48);
      margin: 0 0 20px;

      @include media(650) {
        font-size: 32px;
      }
    }

    p {
      margin: 0 0 20px;
    }
  }

  .content-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @include media(1200) {
      grid-template-columns: repeat(2, 1fr);
    }

    &--3 {
      grid-template-columns: repeat(3, 1fr);

      @include media(900) {
        grid-template-columns: auto;
      }
    }

    &--vertical {
      grid-template-columns: auto;
    }
  }

  img {
    max-width: 100%;
  }

  input, button {
    border: none;
    outline: none;
  }

  a {
    text-decoration: none;
    color: inherit;
    transition: .2s;
  }
}

.ui-widget.ui-widget-content {
  border-radius: 20px;
  border: 1px solid #D5DDEA;
  width: 100%;
  padding: 0;
}

.ui-datepicker .ui-datepicker-header {
  background: transparent;
  border: none;
  color: $blue;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  padding: 10px 0!important;
  line-height: 1;
}

.ui-datepicker-prev .ui-corner-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  background: none!important;
  border: none!important;
  top: 11px!important;
}

.ui-state-default, .ui-widget-content .ui-state-default {
  background: none!important;
  border: none!important;
  width: 34px;
  height: 34px;
  margin: 0 auto;
  border-radius: 50%;
}

.ui-state-active, .ui-widget-content .ui-state-active {
  background: $green!important;

}

.ui-datepicker td {
  height: 50px;
}
.ui-datepicker td span, .ui-datepicker td a {
  display: flex!important;
  align-items: center;
  justify-content: center;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px!important;
  transform: rotate(180deg);
}

.ui-datepicker .ui-datepicker-next {
  right: 2px!important;

}

.ui-datepicker th {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: $blue;
  border-top: 1px solid #D5DDEA!important;
  border-bottom: 1px solid #D5DDEA!important;
  padding: 4px 0!important;
}

.ui-icon {
  width: 24px!important;
  height: 24px!important;
}
.ui-widget-header .ui-icon {
  background: url("../img/svg/fi-rr-angle-small-right.svg")!important;
  position: static!important;
  margin: 0!important;
}

.modal {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.60);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &-inner {
    border-radius: 40px;
    background: #FFF;
    max-width: 792px;
    width: 100%;
    position: relative;
    max-height: 100vh;
    overflow: auto;
    .close-btn {
      position: absolute;
      top: 27px;
      right: 36px;
      width: 24px;
      height: 24px;
    }
  }

  &-tab {
    padding: 20px 30px;
    border-bottom: 1px solid rgba(43, 85, 152, 0.20);

    &:not(.checked) {
      .check {
        display: none;
      }
      &:not(.active) {
        .modal-tab-header {
          opacity: .3;
          color: black;
          .tab-number {
            background: black;
          }
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
    }

    .details {
      border-radius: 20px;
      background: #F4F7FC;
      padding: 30px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 24px;

      &-item {
        display: flex;
        gap: 20px;
        flex-direction: column;

        h4 {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 1;
          margin: 0;
        }

        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: (24/16);
          margin: 0;
        }
      }
    }

    .order {
      border-radius: 20px;
      background: #F8FAF5;
      padding: 30px;
      color: $green;
      display: flex;
      justify-content: space-between;

      &-total {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 1;
      }

      &-info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h3 {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 1;
          margin: 0;
        }

        ul {
          display: flex;
          flex-direction: column;
          line-grid-progression: 5px;
          margin: 0;
          padding: 0;
          list-style-type: none;

        }
      }
    }

    &-form {
      form {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }

      .form-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        @include media(600) {
          grid-template-columns: auto;
        }
      }

      input {
        border-radius: 40px;
        border: 2px solid rgba(43, 85, 152, 0.20);
        background: #FFF;
        padding-left: 20px;
        color: $blue;
        font-size: 16px;
        line-height: 1;
        height: 44px;
        width: 100%;

        &::placeholder {
          color: #AABBD6;
        }
      }
    }

    &-btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 20px;
    }

    &-grid {
      display: grid;
      grid-template-columns: 420px auto;
      grid-gap: 24px;

      @include media(650) {
        grid-template-columns: auto;
      }

      .title {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 20px;
      }
    }

    .timepicker {
      display: flex;
      flex-direction: column;
      gap: 22px;
      margin: 0;
      padding: 0;
      list-style-type: none;

      input {
        position: absolute;
        left: -99999999px;

        &:checked {
          & + label {
            background: $green;
            color: white;
          }
        }
      }

      label {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 20px;
        background: #F4F7FC;
        padding: 14px 20px;
        cursor: pointer;
        align-items: flex-start;

        span {
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 1;
        }

        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 1;
          margin: 0;
          text-transform: uppercase;
        }
      }
    }
    .tab-number {
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $green;
      color: #FFF;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      border-radius: 50%;
    }

    &-inner {
      padding-top: 20px;
    }
    &-header {
      display: flex;
      align-items: center;
      gap: 20px;

      h3 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: (32/24);
        margin: 0;
      }

      .check {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.section-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: (32/20);
  text-align: center;
  gap: 20px;
  max-width: 756px;
  margin: 0 auto 40px;

  @include media(768) {
    font-size: 16px;
  }

  &-flex {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;

    @include media(600) {
      flex-direction: column;
    }
  }

  &--left {
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 0;
  }

  h2 {
    position: relative;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    padding: 0 52px;
    margin: 0;

    @include media(768) {
      font-size: 24px;
    }

    &:after {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      content: '';
      background: url('../img/svg/star.svg');
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:before {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      content: '';
      background: url('../img/svg/star.svg');
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  p {
    margin: 0;
  }
}

